.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:orange;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

p {
  color: white;
	text-align: center;
}

.passwords {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 30px;
  border: white solid;
  border-radius: 12px;
  background-color: white;

}
